<section class="flex flex-col items-center">
  <div class="h-160 w-full items-center justify-center flex relative">
    <landing-section-start-carousel />

    <ui-button
      icon="arrow_left"
      variant="secondary"
      size="xl"
      rounded
      class="absolute left-0 z-10"
      (click)="carousel_service.previous()"
    />
    <ui-button
      icon="arrow_right"
      variant="secondary"
      size="xl"
      rounded
      class="absolute right-0 z-10"
      (click)="carousel_service.next()"
    />
  </div>

  <div class="text-center max-w-200 flex flex-col gap-4">
    <h1 class="text-6xl text-heading">
      Transformamos ideas en
      <span class="">experiencias digitales</span>
    </h1>
    <p class="text-slate-300 text-2xl">
      Desarrollamos soluciones tecnológicas innovadoras que impulsan el crecimiento de tu negocio en
      la era digital.
    </p>
  </div>
</section>
