<div
  class="flex flex-row m-4 rounded-lg p-4 justify-between items-center text-heading"
  [class]="
    is_scrolled()
      ? 'bg-white/50 dark:bg-black/60 backdrop-blur-md backdrop-saturate-100 ring ring-white/30 shadow-[0_8px_32px_0_rgba(0,0,0,0.2)] my-4'
      : 'transition-all duration-100'
  "
>
  <div class="flex flex-row gap-4 items-center">
    <layout-landing-header-iso />
    <layout-landing-header-logo />
  </div>
  <div class="flex flex-row gap-4">
    @for (option of options(); track option.slug) {
      <layout-landing-header-option
        [label]="option.label"
        [slug]="option.slug"
        [active]="active_slug() === option.slug"
      />
    }
  </div>
  <div class="flex flex-row gap-2 items-center">
    <ui-mode />
    <ui-button variant="default" labelbutton="Ingresar" routerLink="/dashboard" />
  </div>
</div>
