@import 'flowbite/src/themes/default';
@import './variables.css';

@theme {
  --font-sans:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-body:
    'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto',
    'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono',
    'Courier New', 'monospace';

  --text-2xs: 0.625rem;
  --spacing-8xl: 90rem;
  --leading-9: 36px;
  --leading-7: 28px;
  --leading-8: 32px;
  --leading-6: 24px;
  --leading-4: 16px;
  --leading-none: 1px;
  --leading-5: 20px;
  --tracking-tighter: -0.8px;
  --leading-heading-none: 60px;
  --tracking-tight: -0.4px;

  --radius-0: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius: 8px;
  --radius-base: 12px;
  --radius-lg: 16px;

  --default-border-width: 1px;

  --color-body: var(--color-mirage-950);
  --color-body-subtle: var(--color-mirage-900);
  --color-heading: var(--color-fiord-900);
  --color-fg-brand-subtle: var(--color-brand-100);
  --color-fg-brand: var(--color-brand-500);
  --color-fg-brand-strong: var(--color-brand-700);
  --color-fg-success: var(--color-success-700);
  --color-fg-success-strong: var(--color-success-900);
  --color-fg-danger: var(--color-danger-700);
  --color-fg-danger-strong: var(--color-danger-900);
  --color-fg-warning-subtle: var(--color-warning-600);
  --color-fg-warning: var(--color-warning-900);
  --color-fg-yellow: var(--color-yellow-400);
  --color-fg-disabled: var(--color-fiord-400);
  --color-fg-purple: var(--color-purple-600);
  --color-fg-cyan: var(--color-cyan-600);
  --color-fg-indigo: var(--color-indigo-600);
  --color-fg-pink: var(--color-pink-600);
  --color-fg-lime: var(--color-lime-600);

  --color-neutral-primary-soft: var(--color-zircon-50);
  --color-neutral-primary: var(--color-zircon-50);
  --color-neutral-primary-medium: var(--color-zircon-50);
  --color-neutral-primary-strong: var(--color-zircon-50);
  --color-neutral-secondary-soft: var(--color-fiord-50);
  --color-neutral-secondary: var(--color-fiord-50);
  --color-neutral-secondary-medium: var(--color-fiord-50);
  --color-neutral-secondary-strong: var(--color-fiord-50);
  --color-neutral-secondary-strongest: var(--color-fiord-50);
  --color-neutral-tertiary-soft: var(--color-fiord-100);
  --color-neutral-tertiary: var(--color-fiord-100);
  --color-neutral-tertiary-medium: var(--color-fiord-100);
  --color-neutral-quaternary: var(--color-fiord-200);
  --color-neutral-quaternary-medium: var(--color-fiord-200);
  --color-fiord: var(--color-fiord-300);

  --color-brand-softer: var(--color-azure-radiance-100);
  --color-brand-soft: var(--color-azure-radiance-200);
  --color-brand: var(--color-azure-radiance-500);
  --color-brand-medium: var(--color-azure-radiance-200);
  --color-brand-strong: var(--color-azure-radiance-800);
  --color-accent-strong: var(--color-rock-blue-950);
  --color-accent-medium: var(--color-rock-blue-700);
  --color-accent: var(--color-rock-blue-500);
  --color-accent-soft: var(--color-rock-blue-300);
  --color-accent-softer: var(--color-rock-blue-100);
  --color-success-soft: var(--color-success-50);
  --color-success: var(--color-success-700);
  --color-success-medium: var(--color-success-100);
  --color-success-strong: var(--color-success-800);
  --color-danger-soft: var(--color-danger-50);
  --color-danger: var(--color-danger-700);
  --color-danger-medium: var(--color-danger-100);
  --color-danger-strong: var(--color-danger-800);
  --color-warning-soft: var(--color-warning-50);
  --color-warning: var(--color-warning-500);
  --color-warning-medium: var(--color-warning-100);
  --color-warning-strong: var(--color-warning-700);
  --color-dark-soft: var(--color-dark-800);
  --color-dark: var(--color-dark-800);
  --color-dark-strong: var(--color-dark-900);
  --color-disabled: var(--color-fiord-100);
  --color-purple: var(--color-purple-500);
  --color-sky: var(--color-sky-500);
  --color-teal: var(--color-teal-600);
  --color-pink: var(--color-pink-600);
  --color-cyan: var(--color-cyan-500);
  --color-fuchsia: var(--color-fuchsia-600);
  --color-indigo: var(--color-indigo-600);
  --color-orange: var(--color-orange-400);

  --color-buffer: var(--color-zircon-50);
  --color-buffer-medium: var(--color-zircon-50);
  --color-buffer-strong: var(--color-zircon-50);
  --color-muted: var(--color-fiord-50);
  --color-light-subtle: var(--color-fiord-100);
  --color-light: var(--color-fiord-100);
  --color-light-medium: var(--color-fiord-100);
  --color-default-subtle: var(--color-fiord-200);
  --color-default: var(--color-fiord-200);
  --color-default-medium: var(--color-fiord-200);
  --color-default-strong: var(--color-fiord-200);
  --color-success-subtle: var(--color-success-100);
  --color-danger-subtle: var(--color-danger-100);
  --color-warning-subtle: var(--color-warning-100);
  --color-brand-subtle: var(--color-azure-radiance-400);
  --color-brand-light: var(--color-brand-600);
  --color-dark-subtle: var(--color-dark-800);
  --color-dark-backdrop: var(--color-dark-950);
  --color-shiki-fg-brand: #79b8ff;
  --color-shiki-fg-brand-subtle: #9ecbff;
}

.dark {
  --color-body: var(--color-fiord-400);
  --color-body-subtle: var(--color-fiord-400);
  --color-heading: var(--color-white);
  --color-fg-brand-subtle: var(--color-brand-100);
  --color-fg-brand: var(--color-brand-500);
  --color-fg-brand-strong: var(--color-brand-400);
  --color-fg-success: var(--color-success-600);
  --color-fg-success-strong: var(--color-success-300);
  --color-fg-danger: var(--color-danger-500);
  --color-fg-danger-strong: var(--color-danger-300);
  --color-fg-warning-subtle: var(--color-warning-500);
  --color-fg-warning: var(--color-warning-300);
  --color-fg-yellow: var(--color-yellow-400);
  --color-fg-disabled: var(--color-fiord-600);
  --color-fg-purple: var(--color-purple-500);
  --color-fg-cyan: var(--color-cyan-500);
  --color-fg-indigo: var(--color-indigo-500);
  --color-fg-pink: var(--color-pink-500);
  --color-fg-lime: var(--color-lime-500);

  --color-neutral-primary-soft: var(--color-mirage-950);
  --color-neutral-primary: var(--color-mirage-950);
  --color-neutral-primary-medium: var(--color-fiord-800);
  --color-neutral-primary-strong: var(--color-fiord-700);
  --color-neutral-secondary-soft: var(--color-fiord-900);
  --color-neutral-secondary: var(--color-fiord-950);
  --color-neutral-secondary-medium: var(--color-fiord-800);
  --color-neutral-secondary-strong: var(--color-fiord-700);
  --color-neutral-secondary-strongest: var(--color-fiord-600);
  --color-neutral-tertiary-soft: var(--color-fiord-900);
  --color-neutral-tertiary: var(--color-fiord-800);
  --color-neutral-tertiary-medium: var(--color-fiord-700);
  --color-neutral-quaternary: var(--color-fiord-700);
  --color-neutral-quaternary-medium: var(--color-fiord-600);
  --color-fiord: var(--color-fiord-600);

  --color-brand-softer: var(--color-blue-ribbon-100);
  --color-brand-soft: var(--color-blue-ribbon-300);
  --color-brand: var(--color-blue-ribbon-500);
  --color-brand-medium: var(--color-blue-ribbon-300);
  --color-accent-softer: var(--color-hot-toddy-900);
  --color-accent-soft: var(--color-hot-toddy-300);
  --color-accent: var(--color-hot-toddy-500);
  --color-accent-medium: var(--color-hot-toddy-300);
  --color-accent-strong: var(--color-hot-toddy-100);
  --color-success-soft: var(--color-success-950);
  --color-success: var(--color-success-600);
  --color-success-medium: var(--color-success-900);
  --color-success-strong: var(--color-success-700);
  --color-danger-soft: var(--color-danger-950);
  --color-danger: var(--color-danger-700);
  --color-danger-medium: var(--color-danger-900);
  --color-danger-strong: var(--color-danger-800);
  --color-warning-soft: var(--color-warning-950);
  --color-warning: var(--color-warning-600);
  --color-warning-medium: var(--color-warning-900);
  --color-warning-strong: var(--color-warning-700);
  --color-dark-soft: var(--color-dark-700);
  --color-dark: var(--color-dark-800);
  --color-dark-strong: var(--color-dark-700);
  --color-disabled: var(--color-fiord-800);
  --color-purple: var(--color-purple-500);
  --color-sky: var(--color-sky-500);
  --color-teal: var(--color-teal-500);
  --color-pink: var(--color-pink-500);
  --color-cyan: var(--color-cyan-500);
  --color-fuchsia: var(--color-fuchsia-500);
  --color-indigo: var(--color-indigo-500);
  --color-orange: var(--color-orange-400);

  --color-buffer: var(--color-fiord-950);
  --color-buffer-medium: var(--color-fiord-900);
  --color-buffer-strong: var(--color-fiord-800);
  --color-muted: var(--color-fiord-900);
  --color-light-subtle: var(--color-fiord-900);
  --color-light: var(--color-fiord-800);
  --color-light-medium: var(--color-fiord-700);
  --color-default-subtle: var(--color-fiord-900);
  --color-default: var(--color-fiord-800);
  --color-default-medium: var(--color-fiord-700);
  --color-default-strong: var(--color-fiord-600);
  --color-success-subtle: var(--color-success-900);
  --color-danger-subtle: var(--color-danger-900);
  --color-warning-subtle: var(--color-warning-900);
  --color-brand-subtle: var(--color-blue-ribbon-900);
  --color-brand-light: var(--color-brand-400);
  --color-dark-subtle: var(--color-dark-700);
  --color-dark-backdrop: var(--color-dark-950);
}
