<div class="flex flex-col gap-4">
  <h2 class="font-bold text-4xl">Servicios</h2>

  <ui-card>
    <div class="p-4">
      <div class="flex flex-row gap-4 items-center">
        <div class="flex w-10 aspect-square bg-brand-softer justify-center items-center rounded-md">
          <ui-icon icon="arrow_down" class="text-2xl" />
        </div>
        <span class="font font-semibold text-xl">Título del servicio</span>
      </div>

      Esta es una descripción corta del servicio. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </ui-card>
</div>
